In [10]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
from config import api_key
import pprint as pp

In [11]:
#read excel files
dispensary_df = pd.read_csv("CO Recreational Marijuana Stores.csv")

license = dispensary_df['License #']
street = dispensary_df['Street']
city = dispensary_df['City ']
zip = dispensary_df['Zip']

dispensary_df = pd.DataFrame({
    
    "License": license,
    "Street": street,
    "City": city,
    "Zipcode": zip,
})
len(dispensary_df)

541

In [12]:
#2012 income df
income_2012_df = pd.read_csv("Income/income_2012.csv")
income_2013_df = pd.read_csv("Income/income_2013.csv")
income_2014_df = pd.read_csv("Income/income_2014.csv")
income_2015_df = pd.read_csv("Income/income_2015.csv")
income_2016_df = pd.read_csv("Income/income_2016.csv")


zip = income_2012_df['Id2']

house_hold_12 = income_2012_df['Households; Estimate; Total']
house_hold_margin_12 = income_2012_df['Households; Margin of Error; Total']
house_hold_income_12 = income_2012_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_12 = income_2012_df['Households; Margin of Error; Median income (dollars)']


house_hold_13 = income_2013_df['Households; Estimate; Total']
house_hold_margin_13 = income_2013_df['Households; Margin of Error; Total']
house_hold_income_13 = income_2013_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_13 = income_2013_df['Households; Margin of Error; Median income (dollars)']

house_hold_14 = income_2014_df['Households; Estimate; Total']
house_hold_margin_14 = income_2014_df['Households; Margin of Error; Total']
house_hold_income_14 = income_2014_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_14 = income_2014_df['Households; Margin of Error; Median income (dollars)']

house_hold_15 = income_2015_df['Households; Estimate; Total']
house_hold_margin_15 = income_2015_df['Households; Margin of Error; Total']
house_hold_income_15 = income_2015_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_15 = income_2015_df['Households; Margin of Error; Median income (dollars)']

house_hold_16 = income_2016_df['Households; Estimate; Total']
house_hold_margin_16 = income_2016_df['Households; Margin of Error; Total']
house_hold_income_16 = income_2016_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_16 = income_2016_df['Households; Margin of Error; Median income (dollars)']


income_clean_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Households 2012": house_hold_12,
    "Total Households 2012 Margin of Error": house_hold_margin_12,
    "Total Households Income 2012": house_hold_income_12,
    "Total Households Income 2012 Margin of Error": house_hold_income_margin_12,
    
    "Total Households 2013": house_hold_13,
    "Total Households 2013 Margin of Error": house_hold_margin_13,
    "Total Households Income 2013": house_hold_income_13,
    "Total Households Income 2013 Margin of Error": house_hold_income_margin_13,
    
    "Total Households 2014": house_hold_14,
    "Total Households 2014 Margin of Error": house_hold_margin_14,
    "Total Households Income 2014": house_hold_income_14,
    "Total Households Income 2014 Margin of Error": house_hold_income_margin_14,
    
    "Total Households 2015": house_hold_15,
    "Total Households 2015 Margin of Error": house_hold_margin_15,
    "Total Households Income 2015": house_hold_income_15,
    "Total Households Income 2015 Margin of Error": house_hold_income_margin_15,
    
    "Total Households 2016": house_hold_16,
    "Total Households 2016 Margin of Error": house_hold_margin_16,
    "Total Households Income 2016": house_hold_income_16,
    "Total Households Income 2016 Margin of Error": house_hold_income_margin_16,
    
})

income_clean_df.to_csv("cleaned_income.csv", index=False)

income_clean_df.head()

,Zipcode,Total Households 2012,Total Households 2012 Margin of Error,Total Households Income 2012,Total Households Income 2012 Margin of Error,Total Households 2013,Total Households 2013 Margin of Error,Total Households Income 2013,Total Households Income 2013 Margin of Error,Total Households 2014,...,Total Households Income 2014,Total Households Income 2014 Margin of Error,Total Households 2015,Total Households 2015 Margin of Error,Total Households Income 2015,Total Households Income 2015 Margin of Error,Total Households 2016,Total Households 2016 Margin of Error,Total Households Income 2016,Total Households Income 2016 Margin of Error
0,67879.0,493.0,46.0,52212,10201,493.0,47.0,52847,7816,471.0,...,51023,8159,487.0,40.0,47750,5443,478,49,47000,9747
1,80002.0,8264.0,311.0,49036,3339,8304.0,259.0,50425,5308,8107.0,...,51027,4668,8227.0,246.0,48627,5229,8196,234,53186,3559
2,80003.0,13639.0,305.0,56398,3029,13630.0,333.0,54688,3112,13844.0,...,56833,3275,14198.0,325.0,57934,3295,13970,353,59098,2399
3,80004.0,14527.0,274.0,66043,3732,14502.0,266.0,67830,3601,14759.0,...,67371,2615,14814.0,326.0,67824,3425,14915,305,70968,3676
4,80005.0,10315.0,249.0,83125,4074,10243.0,220.0,84501,3015,10396.0,...,83819,4787,10671.0,246.0,84900,3952,10923,203,89189,5256

In [13]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2012.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 44 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 44 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 44 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 44 years']

#thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
#thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
#thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
#thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

#thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
#thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
#thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
#thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 64 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 64 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 64 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 64 years']

#sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
#sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
#sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
#sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']




employment_2012_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2012": population,
    "Total Population 2012 Margin of Error": population_margin,
    "Total Unemployment 2012": population_unemployment,
    "Total Unemployment 2012 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2012": sixteen,
    "Age Group 16-19 2012 Margin of Error": sixteen_margin,
    "Age Group 16-19 2012 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2012 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2012": twenty,
    "Age Group 20-24 2012 Margin of Error": twenty_margin,
    "Age Group 20-24 2012 Unemployment": twenty_unemployment,
    "Age Group 20-24 2012 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-44 2012": twenty_five,
    "Age Group 25-44 2012 Margin of Error": twenty_five_margin,
    "Age Group 25-44 2012 Unemployment": twenty_five_unemployment,
    "Age Group 25-44 2012 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 45-54 2012": forty_five,
    "Age Group 45-54 2012 Margin of Error": forty_five_margin,
    "Age Group 45-54 2012 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2012 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2012": fifty_five,
    "Age Group 55-64 2012 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2012 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2012 Unemployment Margin of Error": fifty_five_unemployment_margin,
    
    "Age Group 65-74 2012": sixty_five,
    "Age Group 65-74 2012 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2012 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2012 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2012": seventy_five,
    "Age Group 75+ 2012 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2012 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2012 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

employment_2012_df.to_csv("cleaned_employment_2012.csv", index=False)

employment_2012_df.head()

,Zipcode,Total Population 2012,Total Population 2012 Margin of Error,Total Unemployment 2012,Total Unemployment 2012 margin of Error,Age Group 16-19 2012,Age Group 16-19 2012 Margin of Error,Age Group 16-19 2012 Unemployment,Age Group 16-19 2012 Unemployment Margin of Error,Age Group 20-24 2012,...,Age Group 55-64 2012 Unemployment,Age Group 55-64 2012 Unemployment Margin of Error,Age Group 65-74 2012,Age Group 65-74 2012 Margin of Error,Age Group 65-74 2012 Unemployment,Age Group 65-74 2012 Unemployment Margin of Error,Age Group 75+ 2012,Age Group 75+ 2012 Margin of Error,Age Group 75+ 2012 Unemployment,Age Group 75+ 2012 Unemployment Margin of Error
0,67879,1020,80,1.2,1.6,87,38,0,33.8,30,...,0,16.1,128,31,0,44.6,164,35,0,86.7
1,80002,15071,757,7,1.8,703,239,23.5,15.9,1518,...,10.1,3.7,1313,227,0,11.8,757,167,0,25.2
2,80003,27595,719,9.8,1.7,1699,319,28.1,8.9,2553,...,11.9,4.1,2233,290,6.6,8.1,1670,229,5.9,27
3,80004,28369,707,8,1.3,1595,227,22.2,8.6,1958,...,6.7,2.7,2737,200,8.3,6.1,3242,266,0,17.9
4,80005,21325,574,6.3,1.1,1635,262,29.1,11.8,1277,...,3.7,2,2162,222,4.1,3.9,1241,228,11.5,20

In [14]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2013.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 44 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 44 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 44 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 44 years']

#thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
#thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
#thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
#thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

#thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
#thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
#thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
#thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 64 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 64 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 64 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 64 years']

#sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
#sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
#sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
#sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']




employment_2013_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2013": population,
    "Total Population 2013 Margin of Error": population_margin,
    "Total Unemployment 2013": population_unemployment,
    "Total Unemployment 2013 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2013": sixteen,
    "Age Group 16-19 2013 Margin of Error": sixteen_margin,
    "Age Group 16-19 2013 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2013 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2013": twenty,
    "Age Group 20-24 2013 Margin of Error": twenty_margin,
    "Age Group 20-24 2013 Unemployment": twenty_unemployment,
    "Age Group 20-24 2013 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-44 2013": twenty_five,
    "Age Group 25-44 2013 Margin of Error": twenty_five_margin,
    "Age Group 25-44 2013 Unemployment": twenty_five_unemployment,
    "Age Group 25-44 2013 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 45-54 2013": forty_five,
    "Age Group 45-54 2013 Margin of Error": forty_five_margin,
    "Age Group 45-54 2013 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2013 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2013": fifty_five,
    "Age Group 55-64 2013 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2013 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2013 Unemployment Margin of Error": fifty_five_unemployment_margin,
    
    "Age Group 65-74 2013": sixty_five,
    "Age Group 65-74 2013 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2013 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2013 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2013": seventy_five,
    "Age Group 75+ 2013 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2013 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2013 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

employment_2013_df.to_csv("cleaned_employment_2013.csv", index=False)

employment_2013_df.head()

,Zipcode,Total Population 2013,Total Population 2013 Margin of Error,Total Unemployment 2013,Total Unemployment 2013 margin of Error,Age Group 16-19 2013,Age Group 16-19 2013 Margin of Error,Age Group 16-19 2013 Unemployment,Age Group 16-19 2013 Unemployment Margin of Error,Age Group 20-24 2013,...,Age Group 55-64 2013 Unemployment,Age Group 55-64 2013 Unemployment Margin of Error,Age Group 65-74 2013,Age Group 65-74 2013 Margin of Error,Age Group 65-74 2013 Unemployment,Age Group 65-74 2013 Unemployment Margin of Error,Age Group 75+ 2013,Age Group 75+ 2013 Margin of Error,Age Group 75+ 2013 Unemployment,Age Group 75+ 2013 Unemployment Margin of Error
0,67879,997,72,2,2.1,85,38,0,33.4,23,...,0,17.9,110,26,0,45.3,180,32,0,100
1,80002,15268,809,6.9,2.1,693,191,30.4,17.7,1359,...,6,3.2,1352,255,5,7.7,787,136,0,24.3
2,80003,27523,862,10.3,1.4,1764,294,29.1,9.3,2462,...,10.9,3.8,2518,305,2.4,3.5,1754,233,4.7,12.4
3,80004,28845,671,7.7,1.3,1728,256,23.2,7.6,2187,...,6.8,2.8,2849,240,9,5.2,3143,313,0,19.5
4,80005,21425,614,5.7,1.2,1530,182,17.6,7.2,1364,...,4.3,1.9,2256,212,4.7,4.3,1340,179,9.6,13.7

In [15]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2014.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 44 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 44 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 44 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 44 years']

#thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
#thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
#thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
#thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

#thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
#thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
#thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
#thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 64 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 64 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 64 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 64 years']

#sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
#sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
#sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
#sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']




employment_2014_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2014": population,
    "Total Population 2014 Margin of Error": population_margin,
    "Total Unemployment 2014": population_unemployment,
    "Total Unemployment 2014 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2014": sixteen,
    "Age Group 16-19 2014 Margin of Error": sixteen_margin,
    "Age Group 16-19 2014 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2014 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2014": twenty,
    "Age Group 20-24 2014 Margin of Error": twenty_margin,
    "Age Group 20-24 2014 Unemployment": twenty_unemployment,
    "Age Group 20-24 2014 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-44 2014": twenty_five,
    "Age Group 25-44 2014 Margin of Error": twenty_five_margin,
    "Age Group 25-44 2014 Unemployment": twenty_five_unemployment,
    "Age Group 25-44 2014 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 45-54 2014": forty_five,
    "Age Group 45-54 2014 Margin of Error": forty_five_margin,
    "Age Group 45-54 2014 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2014 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2014": fifty_five,
    "Age Group 55-64 2014 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2014 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2014 Unemployment Margin of Error": fifty_five_unemployment_margin,
    
    "Age Group 65-74 2014": sixty_five,
    "Age Group 65-74 2014 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2014 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2014 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2014": seventy_five,
    "Age Group 75+ 2014 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2014 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2014 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

employment_2014_df.to_csv("cleaned_employment_2014.csv", index=False)

employment_2014_df.head()

,Zipcode,Total Population 2014,Total Population 2014 Margin of Error,Total Unemployment 2014,Total Unemployment 2014 margin of Error,Age Group 16-19 2014,Age Group 16-19 2014 Margin of Error,Age Group 16-19 2014 Unemployment,Age Group 16-19 2014 Unemployment Margin of Error,Age Group 20-24 2014,...,Age Group 55-64 2014 Unemployment,Age Group 55-64 2014 Unemployment Margin of Error,Age Group 65-74 2014,Age Group 65-74 2014 Margin of Error,Age Group 65-74 2014 Unemployment,Age Group 65-74 2014 Unemployment Margin of Error,Age Group 75+ 2014,Age Group 75+ 2014 Margin of Error,Age Group 75+ 2014 Unemployment,Age Group 75+ 2014 Unemployment Margin of Error
0,67879,978,81,2.5,2.2,47,27,0,51,73,...,5.3,5.2,93,22,0,43.3,168,39,0,92
1,80002,14842,617,5.7,1.2,818,295,21.5,11.8,1345,...,5.9,3.1,1376,195,5.9,9.5,798,157,0,24.4
2,80003,28363,688,9.7,1.5,1968,344,28.1,9.1,2320,...,9.8,3.3,2696,311,3.6,3.5,1746,202,4.7,12.3
3,80004,29705,763,7,1,1699,254,22.5,8.5,2256,...,6.8,2.6,2836,257,7.3,3.5,3397,303,0,20.9
4,80005,21879,607,4.8,1,1474,243,15.6,7.3,1434,...,3.6,1.4,2438,159,3.1,3.2,1437,179,8.6,13.4

In [16]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2015.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 29 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 29 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 29 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 29 years']

thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 59 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 59 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 59 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 59 years']

sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']




employment_2015_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2015": population,
    "Total Population 2015 Margin of Error": population_margin,
    "Total Unemployment 2015": population_unemployment,
    "Total Unemployment 2015 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2015": sixteen,
    "Age Group 16-19 2015 Margin of Error": sixteen_margin,
    "Age Group 16-19 2015 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2015 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2015": twenty,
    "Age Group 20-24 2015 Margin of Error": twenty_margin,
    "Age Group 20-24 2015 Unemployment": twenty_unemployment,
    "Age Group 20-24 2015 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-29 2015": twenty_five,
    "Age Group 25-29 2015 Margin of Error": twenty_five_margin,
    "Age Group 25-29 2015 Unemployment": twenty_five_unemployment,
    "Age Group 25-29 2015 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 30-34 2015": thirty,
    "Age Group 30-34 2015 Margin of Error": thirty_margin,
    "Age Group 30-34 2015 Unemployment": thirty_unemployment,
    "Age Group 30-34 2015 Unemployment Margin of Error": thirty_unemployment_margin,

    "Age Group 35-44 2015": thirty_five,
    "Age Group 35-44 2015 Margin of Error": thirty_five_margin,
    "Age Group 35-44 2015 Unemployment": thirty_five_unemployment,
    "Age Group 35-44 2015 Unemployment Margin of Error": thirty_five_unemployment_margin,

    "Age Group 45-54 2015": forty_five,
    "Age Group 45-54 2015 Margin of Error": forty_five_margin,
    "Age Group 45-54 2015 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2015 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2015": fifty_five,
    "Age Group 55-64 2015 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2015 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2015 Unemployment Margin of Error": fifty_five_unemployment_margin,

    "Age Group 60-64 2015": sixty,
    "Age Group 60-64 2015 Margin of Error": sixty_margin,
    "Age Group 60-64 2015 Unemployment": sixty_unemployment,
    "Age Group 60-64 2015 Unemployment Margin of Error": sixty_unemployment_margin,
    
    "Age Group 65-74 2015": sixty_five,
    "Age Group 65-74 2015 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2015 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2015 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2015": seventy_five,
    "Age Group 75+ 2015 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2015 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2015 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

employment_2015_df.to_csv("cleaned_employment_2015.csv", index=False)

employment_2015_df.head()

,Zipcode,Total Population 2015,Total Population 2015 Margin of Error,Total Unemployment 2015,Total Unemployment 2015 margin of Error,Age Group 16-19 2015,Age Group 16-19 2015 Margin of Error,Age Group 16-19 2015 Unemployment,Age Group 16-19 2015 Unemployment Margin of Error,Age Group 20-24 2015,...,Age Group 60-64 2015 Unemployment,Age Group 60-64 2015 Unemployment Margin of Error,Age Group 65-74 2015,Age Group 65-74 2015 Margin of Error,Age Group 65-74 2015 Unemployment,Age Group 65-74 2015 Unemployment Margin of Error,Age Group 75+ 2015,Age Group 75+ 2015 Margin of Error,Age Group 75+ 2015 Unemployment,Age Group 75+ 2015 Unemployment Margin of Error
0,67879,979,71,2.1,1.6,30,12,0,87.2,55,...,6.2,7.8,109,24,0,45.8,164,32,0,100
1,80002,15256,630,4.7,1.2,865,236,14.4,11.1,1445,...,5.9,5.6,1411,217,6.1,9.3,865,146,0,16.2
2,80003,29155,703,8.6,1.4,1953,316,24.5,10.6,2265,...,11,6.2,2836,279,3.7,3.9,1886,246,18.3,22.7
3,80004,30088,682,6.1,1,1727,247,19.3,8.4,2102,...,3.8,2.4,2976,260,6.3,5,3444,253,0,17
4,80005,22169,625,4,1,1348,231,15.2,9.3,1263,...,3.3,2.1,2643,255,1.2,1.8,1631,180,5.7,9.8

In [17]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2016.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 29 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 29 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 29 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 29 years']

thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 59 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 59 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 59 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 59 years']

sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']




employment_2016_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2016": population,
    "Total Population 2016 Margin of Error": population_margin,
    "Total Unemployment 2016": population_unemployment,
    "Total Unemployment 2016 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2016": sixteen,
    "Age Group 16-19 2016 Margin of Error": sixteen_margin,
    "Age Group 16-19 2016 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2016 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2016": twenty,
    "Age Group 20-24 2016 Margin of Error": twenty_margin,
    "Age Group 20-24 2016 Unemployment": twenty_unemployment,
    "Age Group 20-24 2016 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-29 2016": twenty_five,
    "Age Group 25-29 2016 Margin of Error": twenty_five_margin,
    "Age Group 25-29 2016 Unemployment": twenty_five_unemployment,
    "Age Group 25-29 2016 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 30-34 2016": thirty,
    "Age Group 30-34 2016 Margin of Error": thirty_margin,
    "Age Group 30-34 2016 Unemployment": thirty_unemployment,
    "Age Group 30-34 2016 Unemployment Margin of Error": thirty_unemployment_margin,

    "Age Group 35-44 2016": thirty_five,
    "Age Group 35-44 2016 Margin of Error": thirty_five_margin,
    "Age Group 35-44 2016 Unemployment": thirty_five_unemployment,
    "Age Group 35-44 2016 Unemployment Margin of Error": thirty_five_unemployment_margin,

    "Age Group 45-54 2016": forty_five,
    "Age Group 45-54 2016 Margin of Error": forty_five_margin,
    "Age Group 45-54 2016 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2016 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2016": fifty_five,
    "Age Group 55-64 2016 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2016 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2016 Unemployment Margin of Error": fifty_five_unemployment_margin,

    "Age Group 60-64 2016": sixty,
    "Age Group 60-64 2016 Margin of Error": sixty_margin,
    "Age Group 60-64 2016 Unemployment": sixty_unemployment,
    "Age Group 60-64 2016 Unemployment Margin of Error": sixty_unemployment_margin,
    
    "Age Group 65-74 2016": sixty_five,
    "Age Group 65-74 2016 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2016 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2016 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2016": seventy_five,
    "Age Group 75+ 2016 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2016 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2016 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

employment_2016_df.to_csv("cleaned_employment_2016.csv", index=False)

employment_2016_df.head()

,Zipcode,Total Population 2016,Total Population 2016 Margin of Error,Total Unemployment 2016,Total Unemployment 2016 margin of Error,Age Group 16-19 2016,Age Group 16-19 2016 Margin of Error,Age Group 16-19 2016 Unemployment,Age Group 16-19 2016 Unemployment Margin of Error,Age Group 20-24 2016,...,Age Group 60-64 2016 Unemployment,Age Group 60-64 2016 Unemployment Margin of Error,Age Group 65-74 2016,Age Group 65-74 2016 Margin of Error,Age Group 65-74 2016 Unemployment,Age Group 65-74 2016 Unemployment Margin of Error,Age Group 75+ 2016,Age Group 75+ 2016 Margin of Error,Age Group 75+ 2016 Unemployment,Age Group 75+ 2016 Unemployment Margin of Error
0,67879,994,87,1.2,1.2,80,36,0,43.6,42,...,6.4,7.9,123,30,0,43.6,155,36,0,100
1,80002,15335,580,3.9,1.1,897,235,12.2,9.4,1568,...,5.9,5.4,1425,193,8.2,9.3,844,153,0,28.9
2,80003,29042,816,7.7,1.2,2007,353,25.6,9.5,2363,...,8.6,5.2,2863,338,4.5,3.9,1937,230,27.8,28.1
3,80004,30497,749,5.4,1.1,1846,323,21.2,9.2,1981,...,1.8,1.6,3115,248,7.8,5,3497,288,0,16.8
4,80005,22890,612,4.1,1.3,1444,236,20.2,10.3,1141,...,3.4,2,2928,261,2,2.3,1642,198,0,20.4