In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Import CSV file of Colorado home valuation by zip code from January 2010 - July 2018

zillow_df = pd.read_csv('Zillow_CO_Home_Value_Index.csv')
zillow_df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,...,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07
0,93194,80002,Arvada,CO,Denver,Jefferson,5587,184700.0,185000.0,184600.0,...,347200,352500,357700,363000,367600,370800,372100,373900,375800,376800
1,93195,80003,Arvada,CO,Denver,Jefferson,2257,186700.0,186900.0,187300.0,...,342800,346400,350300,354700,358900,361800,363400,364800,366100,366900
2,93196,80004,Arvada,CO,Denver,Jefferson,2029,214100.0,214400.0,214300.0,...,384100,386800,389600,394300,399500,403300,404200,404000,404200,404800
3,93197,80005,Arvada,CO,Denver,Jefferson,3875,252600.0,252900.0,252900.0,...,418500,419800,421300,424400,427800,429800,429400,428600,428900,430100
4,93199,80007,Arvada,CO,Denver,Jefferson,7864,414000.0,414900.0,413900.0,...,579600,579600,578300,582100,589700,595800,598700,601300,603000,603100

In [3]:
#Rename the RegionName field to Zipcode

zillow_df = zillow_df.rename(columns={'RegionName' : 'Zipcode'})
zillow_df.head()

,RegionID,Zipcode,City,State,Metro,CountyName,SizeRank,2010-01,2010-02,2010-03,...,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07
0,93194,80002,Arvada,CO,Denver,Jefferson,5587,184700.0,185000.0,184600.0,...,347200,352500,357700,363000,367600,370800,372100,373900,375800,376800
1,93195,80003,Arvada,CO,Denver,Jefferson,2257,186700.0,186900.0,187300.0,...,342800,346400,350300,354700,358900,361800,363400,364800,366100,366900
2,93196,80004,Arvada,CO,Denver,Jefferson,2029,214100.0,214400.0,214300.0,...,384100,386800,389600,394300,399500,403300,404200,404000,404200,404800
3,93197,80005,Arvada,CO,Denver,Jefferson,3875,252600.0,252900.0,252900.0,...,418500,419800,421300,424400,427800,429800,429400,428600,428900,430100
4,93199,80007,Arvada,CO,Denver,Jefferson,7864,414000.0,414900.0,413900.0,...,579600,579600,578300,582100,589700,595800,598700,601300,603000,603100

In [57]:
#Sum up the years and create a new dataframe with columns for average home values by decade


#Create a new dataframe to hold the averages
zillow_df_sum = pd.DataFrame(columns=['ZipCode', '2010', '2011', '2012', '2013', '2014',
                                      '2015', '2016', '2017', '2018'])


#Keep the original columns that hold metadata for each zipcode
zillow_df_sum['ZipCode'] = zillow_df['Zipcode']


#Calculate the average home value index (HVI) for each decade and append it to the new dataframe
zillow_df_sum['2010'] = round(zillow_df.iloc[:, -103:-91].mean(axis=1), 0)

zillow_df_sum['2011'] = round(zillow_df.iloc[:, -91:-79].mean(axis=1), 0)

zillow_df_sum['2012'] = round(zillow_df.iloc[:, -79:-67].mean(axis=1), 0)

zillow_df_sum['2013'] = round(zillow_df.iloc[:, -67:-55].mean(axis=1), 0)

zillow_df_sum['2014'] = round(zillow_df.iloc[:, -55:-43].mean(axis=1), 0)

zillow_df_sum['2015'] = round(zillow_df.iloc[:, -43:-31].mean(axis=1), 0)

zillow_df_sum['2016'] = round(zillow_df.iloc[:, -31:-19].mean(axis=1), 0)

zillow_df_sum['2017'] = round(zillow_df.iloc[:, -19:-7].mean(axis=1), 0)

zillow_df_sum['2018'] = round(zillow_df.iloc[:, -7:].mean(axis=1), 0)


zillow_df_sum.head()

,ZipCode,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,80002,182758.0,172667.0,178025.0,195475.0,223100.0,264000.0,300667.0,337842.0,371429.0
1,80003,187267.0,180242.0,186417.0,204825.0,226567.0,265442.0,303717.0,337267.0,362371.0
2,80004,213025.0,208775.0,217150.0,231358.0,255917.0,297650.0,346867.0,380417.0,402043.0
3,80005,251450.0,244542.0,254000.0,276817.0,301075.0,339292.0,377967.0,412917.0,428429.0
4,80007,410225.0,407950.0,415908.0,441367.0,466367.0,508400.0,545400.0,575333.0,596243.0

In [58]:
zillow_df_sum.reset_index(drop=True, inplace=True)

zillow_df_sum.head()

,ZipCode,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,80002,182758.0,172667.0,178025.0,195475.0,223100.0,264000.0,300667.0,337842.0,371429.0
1,80003,187267.0,180242.0,186417.0,204825.0,226567.0,265442.0,303717.0,337267.0,362371.0
2,80004,213025.0,208775.0,217150.0,231358.0,255917.0,297650.0,346867.0,380417.0,402043.0
3,80005,251450.0,244542.0,254000.0,276817.0,301075.0,339292.0,377967.0,412917.0,428429.0
4,80007,410225.0,407950.0,415908.0,441367.0,466367.0,508400.0,545400.0,575333.0,596243.0

In [37]:
#Plot 

#get the average for the whole state of Colorado

state_avg = round(zillow_df_sum.mean(), 0)
state_avg
          
#testing line graph


zillow_df_sum.reset_index()

#zillow_df_sum.head()
years = zillow_df_sum.keys()

zillow_df_sum.head()

test = zillow_df_sum.loc[zillow_df_sum['80002'], '2010']
test

#home_value_avg, = plt.plot(years, state_avg, color="blue", label="State Average" )

#zip_80002, = plt.plot(years, zillow_df_sum.loc['80002',["2010","2011","2012","2013","2014", "2015", "2016", "2017", "2018"]], 
                   #     color="green",label=zillow_df_sum.loc['80002','ZipCode'])


# Create a legend
#plt.legend(handles=[home_value_avg, zip_80002], loc="best")

# Show the chart
#plt.show()

KeyError: '80002'