In [1]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
from config import google_key
import pprint as pp
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.pyplot as plt
import gmaps

%matplotlib inline

gmaps.configure(api_key=google_key)

In [2]:
#read excel files
dispensary_df = pd.read_csv("CO Recreational Marijuana Stores.csv")
colorado_df = pd.read_csv("Income/semi_cleaned_income.csv")

license = dispensary_df['License #']
street = dispensary_df['Street']
cities = dispensary_df['City']
zip = dispensary_df['Zip']

dispensary_df = pd.DataFrame({
    
    "License": license,
    "Street": street,
    "City": cities,
    "Zipcode": zip,
})

In [3]:
merged = pd.merge(colorado_df, dispensary_df, on='Zipcode', how='left')
merged.head()

merged.to_csv("Income/income_merged_with_dispensary.csv", index=False)

In [4]:
colorado_df = pd.read_csv("Employment/semi_cleaned_employment_2012.csv")
merged = pd.merge(colorado_df, dispensary_df, on='Zipcode', how='left')
merged = merged.dropna()
merged.to_csv("Employment/employment_2012_with_dispensary.csv", index=False)

colorado_df = pd.read_csv("Employment/semi_cleaned_employment_2013.csv")
merged = pd.merge(colorado_df, dispensary_df, on='Zipcode', how='left')
merged = merged.dropna()
merged.to_csv("Employment/employment_2013_with_dispensary.csv", index=False)

colorado_df = pd.read_csv("Employment/semi_cleaned_employment_2014.csv")
merged = pd.merge(colorado_df, dispensary_df, on='Zipcode', how='left')
merged = merged.dropna()
merged.to_csv("Employment/employment_2014_with_dispensary.csv", index=False)

colorado_df = pd.read_csv("Employment/semi_cleaned_employment_2015.csv")
merged = pd.merge(colorado_df, dispensary_df, on='Zipcode', how='left')
merged = merged.dropna()
merged.to_csv("Employment/employment_2015_with_dispensary.csv", index=False)

colorado_df = pd.read_csv("Employment/semi_cleaned_employment_2016.csv")
merged = pd.merge(colorado_df, dispensary_df, on='Zipcode', how='left')
merged = merged.dropna()
merged.to_csv("Employment/employment_2016_with_dispensary.csv", index=False)

In [5]:
income_df = pd.read_csv("Income/semi_cleaned_income.csv")
income_df = income_df.dropna()

avg_total_2012 = income_df['City'].unique()
avg_total_2013 = income_df['Total Households Income 2012']
avg_total_2014 = income_df.groupby('City').mean()

#x_axis = income_df['City'].unique()
#y_axis = income_df['Total Households Income 2012']


#plt.plot(x_axis, y_axis, color='red')
#x_axis
#plt.plot(x_axis, x_axis)
#plt.show()

In [24]:
employment_2012_df = pd.read_csv("Employment/employment_2012_with_dispensary.csv")
employment_2012_df = employment_2012_df.dropna()
employment_2012_df = employment_2012_df['Age Group 16-19 2012 Unemployment'] != '-']

employment_2013_df = pd.read_csv("Employment/employment_2013_with_dispensary.csv")
employment_2013_df = employment_2013_df.dropna()

employment_2014_df = pd.read_csv("Employment/employment_2014_with_dispensary.csv")
employment_2014_df = employment_2014_df.dropna()

employment_2015_df = pd.read_csv("Employment/employment_2015_with_dispensary.csv")
employment_2015_df = employment_2015_df.dropna()

employment_2016_df = pd.read_csv("Employment/employment_2016_with_dispensary.csv")
employment_2016_df = employment_2016_df.dropna()

SyntaxError: invalid syntax (<ipython-input-24-1886c96facf8>, line 3)

In [27]:
avg_total_sixteen_2012 = pd.to_numeric(employment_2012_df['Age Group 16-19 2012 Unemployment']).mean()

ValueError: Unable to parse string "-" at position 318

In [132]:




avg_total_2012 = employment_2012_df['Total Unemployment 2012'].mean()
avg_total_2013 = employment_2013_df['Total Unemployment 2013'].mean()
avg_total_2014 = employment_2014_df['Total Unemployment 2014'].mean()
avg_total_2015 = employment_2015_df['Total Unemployment 2015'].mean()
avg_total_2016 = employment_2016_df['Total Unemployment 2016'].mean()


avg_total_sixteen_2012 = employment_2012_df['Age Group 16-19 2012 Unemployment'].mean()
avg_total_twenty_2012 = employment_2012_df['Age Group 20-24 2012 Unemployment'].mean()
avg_total_twenty_five_2012 = employment_2012_df['Age Group 25-44 2012 Unemployment'].mean()
avg_total_forty_five_2012 = employment_2012_df['Age Group 45-54 2012 Unemployment'].mean()
avg_total_fifty_five_2012 = employment_2012_df['Age Group 55-64 2012 Unemployment'].mean()
avg_total_sixty_five_2012 = employment_2012_df['Age Group 65-74 2012 Unemployment'].mean()
avg_total_seventy_five_2012 = employment_2012_df['Age Group 75+ 2012 Unemployment'].mean()

avg_total_sixteen_2013 = employment_2013_df['Age Group 16-19 2013 Unemployment'].mean()
avg_total_twenty_2013 = employment_2013_df['Age Group 20-24 2013 Unemployment'].mean()
avg_total_twenty_five_2013 = employment_2013_df['Age Group 25-44 2013 Unemployment'].mean()
avg_total_forty_five_2013 = employment_2013_df['Age Group 45-54 2013 Unemployment'].mean()
avg_total_fifty_five_2013 = employment_2013_df['Age Group 55-64 2013 Unemployment'].mean()
avg_total_sixty_five_2013 = employment_2013_df['Age Group 65-74 2013 Unemployment'].mean()
avg_total_seventy_five_2013 = employment_2013_df['Age Group 75+ 2013 Unemployment'].mean()

avg_total_sixteen_2014 = employment_2014_df['Age Group 16-19 2014 Unemployment'].mean()
avg_total_twenty_2014 = employment_2014_df['Age Group 20-24 2014 Unemployment'].mean()
avg_total_twenty_five_2014 = employment_2014_df['Age Group 25-44 2014 Unemployment'].mean()
avg_total_forty_five_2014 = employment_2014_df['Age Group 45-54 2014 Unemployment'].mean()
avg_total_fifty_five_2014 = employment_2014_df['Age Group 55-64 2014 Unemployment'].mean()
avg_total_sixty_five_2014 = employment_2014_df['Age Group 65-74 2014 Unemployment'].mean()
avg_total_seventy_five_2014 = employment_2014_df['Age Group 75+ 2014 Unemployment'].mean()

avg_total_sixteen_2015 = employment_2015_df['Age Group 16-19 2015 Unemployment'].mean()
avg_total_twenty_2015 = employment_2015_df['Age Group 20-24 2015 Unemployment'].mean()
avg_total_twenty_five_2015 = employment_2015_df['Age Group 25-29 2015 Unemployment'].mean()
avg_total_thirty_2015 = employment_2015_df['Age Group 30-34 2015 Unemployment'].mean()
avg_total_thirty_five_2015 = employment_2015_df['Age Group 35-44 2015 Unemployment'].mean()
avg_total_25_44_2015 = (avg_total_twenty_five_2015 + avg_total_thirty_2015 + avg_total_thirty_five_2015) / 3
avg_total_forty_five_2015 = employment_2015_df['Age Group 45-54 2015 Unemployment'].mean()
avg_total_fifty_five_2015 = employment_2015_df['Age Group 55-64 2015 Unemployment'].mean()
avg_total_sixty_five_2015 = employment_2015_df['Age Group 65-74 2015 Unemployment'].mean()
avg_total_seventy_five_2015 = employment_2015_df['Age Group 75+ 2015 Unemployment'].mean()

avg_total_sixteen_2016 = employment_2016_df['Age Group 16-19 2016 Unemployment'].mean()
avg_total_twenty_2016 = employment_2016_df['Age Group 20-24 2016 Unemployment'].mean()
avg_total_twenty_five_2016 = employment_2016_df['Age Group 25-29 2016 Unemployment'].mean()
avg_total_thirty_2016 = employment_2016_df['Age Group 30-34 2016 Unemployment'].mean()
avg_total_thirty_five_2016 = employment_2016_df['Age Group 35-44 2016 Unemployment'].mean()
avg_total_25_44_2016 = (avg_total_twenty_five_2016 + avg_total_thirty_2016 + avg_total_thirty_five_2016) / 3
avg_total_forty_five_2016 = employment_2016_df['Age Group 45-54 2016 Unemployment'].mean()
avg_total_fifty_five_2016 = employment_2016_df['Age Group 55-64 2016 Unemployment'].mean()
avg_total_sixty_five_2016 = employment_2016_df['Age Group 65-74 2016 Unemployment'].mean()
avg_total_seventy_five_2016 = employment_2016_df['Age Group 75+ 2016 Unemployment'].mean()

x_axis = ["2012", "2013", "2014", "2015", "2016"]
y_axis_total = [avg_total_2012, avg_total_2013, avg_total_2014, avg_total_2015, avg_total_2016]

#y_axis_sixteen = [avg_total_sixteen_2012, avg_total_sixteen_2013, avg_total_sixteen_2014, avg_total_sixteen_2015, avg_total_sixteen_2016]
#y_axis_twenty = [avg_total_twenty_2012, avg_total_twenty_2013, avg_total_twenty_2014, avg_total_twenty_2015, avg_total_twenty_2016]
#y_axis_twenty_five = [avg_total_twenty_five_2012, avg_total_twenty_five_2013, avg_total_twenty_five_2014, avg_total_25_44_2015, avg_total_25_44_2016]
#y_axis_forty_five = [avg_total_forty_five_2012, avg_total_forty_five_2013, avg_total_forty_five_2014, avg_total_forty_five_2015, avg_total_forty_five_2016]
#y_axis_fifty_five = [avg_total_fifty_five_2012, avg_total_fifty_five_2013, avg_total_fifty_five_2014, avg_total_fifty_five_2015, avg_total_fifty_five_2016]
#y_axis_sixty_five = [avg_total_sixty_five_2012, avg_total_sixty_five_2013, avg_total_sixty_five_2014, avg_total_sixty_five_2015, avg_total_sixty_five_2016]
#y_axis_seventy_five = [avg_total_seventy_five_2012, avg_total_seventy_five_2013, avg_total_seventy_five_2014, avg_total_seventy_five_2015, avg_total_seventy_five_2016]

#plt.plot(x_axis, y_axis_total, color='red')
#plt.plot(x_axis, y_axis_twenty)
#plt.plot(x_axis, y_axis_twenty_five)
#plt.plot(x_axis, y_axis_forty_five)
#plt.plot(x_axis, y_axis_fifty_five)
#plt.plot(x_axis, y_axis_sixty_five)
#plt.plot(x_axis, y_axis_seventy_five)


#plt.show()

TypeError: Could not convert 30.330.330.330.330.331.831.831.831.848.348.334.434.432.732.732.732.732.732.732.724.224.243.833.933.933.933.933.933.917.817.817.811.511.541.241.241.241.233.533.533.533.533.521.123.132.238.138.138.138.138.138.138.18.48.48.48.48.48.48.48.48.48.48.48.421.421.421.421.421.421.421.421.421.421.421.421.421.433.733.733.733.733.733.733.733.733.733.715.815.815.837.537.537.56.66.66.623.323.323.323.323.323.323.323.323.323.323.323.323.323.323.323.323.324.724.724.724.724.724.724.724.741.241.241.241.241.250.850.850.850.850.850.850.831.519.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.87.37.37.328.928.928.928.928.928.928.928.928.928.928.928.928.941.441.441.441.441.441.441.441.441.429.229.240.340.340.340.328.528.528.528.528.528.528.528.528.528.528.528.528.528.528.528.528.528.528.520.320.320.320.323.423.427.627.630.430.430.430.430.930.930.98.34.342.242.242.242.242.242.242.242.242.242.221.921.921.921.921.921.94230.732.732.732.732.732.742.742.742.742.742.742.742.733.933.933.933.933.933.933.933.933.933.919.619.619.619.619.619.619.620.120.10014.514.527.627.670.170.170.170.137.537.537.537.537.500000000000000010010010024.924.924.900016.2000-39.239.239.2015.915.915.915.915.915.915.915.915.915.915.915.915.915.915.915.914.614.614.617.629.829.82832.132.132.132.132.132.132.123.823.823.823.818.418.418.403625.725.725.725.724.124.124.109.79.749.149.155.855.855.855.855.855.827.427.427.431.431.431.431.431.431.423.623.623.623.623.623.623.623.623.623.623.616.416.416.416.4011.355.955.924.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.620.820.820.800037.553.453.4008.68.68.68.68.600-0005.55.55.55.522.522.522.522.522.522.522.523.423.423.423.423.423.423.423.420.520.520.520.620.620.620.620.620.600000021.721.721.70000000025.425.425.425.425.425.425.40004.54.54.54.54.54.54.516.316.316.316.336.436.442.742.742.742.747.147.147.147.100014.914.914.914.914.914.914.921.121.1 to numeric

In [147]:
avg_total_sixteen_2012 = employment_2012_df['Age Group 16-19 2012 Unemployment']

'30.330.330.330.330.331.831.831.831.848.348.334.434.432.732.732.732.732.732.732.724.224.243.833.933.933.933.933.933.917.817.817.811.511.541.241.241.241.233.533.533.533.533.521.123.132.238.138.138.138.138.138.138.18.48.48.48.48.48.48.48.48.48.48.48.421.421.421.421.421.421.421.421.421.421.421.421.421.433.733.733.733.733.733.733.733.733.733.715.815.815.837.537.537.56.66.66.623.323.323.323.323.323.323.323.323.323.323.323.323.323.323.323.323.324.724.724.724.724.724.724.724.741.241.241.241.241.250.850.850.850.850.850.850.831.519.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.819.87.37.37.328.928.928.928.928.928.928.928.928.928.928.928.928.941.441.441.441.441.441.441.441.441.429.229.240.340.340.340.328.528.528.528.528.528.528.528.528.528.528.528.528.528.528.528.528.528.528.520.320.320.320.323.423.427.627.630.430.430.430.430.930.930.98.34.342.242.242.242.242.242.242.242.242.242.221.921.921.921.921.921.94230.732.732.732.732.732.742.742.742.742.742.742.742.733.933.933.933.933.933.933.933.933.933.919.619.619.619.619.619.619.620.120.10014.514.527.627.670.170.170.170.137.537.537.537.537.500000000000000010010010024.924.924.900016.2000-39.239.239.2015.915.915.915.915.915.915.915.915.915.915.915.915.915.915.915.914.614.614.617.629.829.82832.132.132.132.132.132.132.123.823.823.823.818.418.418.403625.725.725.725.724.124.124.109.79.749.149.155.855.855.855.855.855.827.427.427.431.431.431.431.431.431.423.623.623.623.623.623.623.623.623.623.623.616.416.416.416.4011.355.955.924.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.624.620.820.820.800037.553.453.4008.68.68.68.68.600-0005.55.55.55.522.522.522.522.522.522.522.523.423.423.423.423.423.423.423.420.520.520.520.620.620.620.620.620.600000021.721.721.70000000025.425.425.425.425.425.425.40004.54.54.54.54.54.54.516.316.316.316.336.436.442.742.742.742.747.147.147.147.100014.914.914.914.914.914.914.921.121.1'

In [4]:

#2012 income df
income_2012_df = pd.read_csv("Income/income_2012.csv")
income_2013_df = pd.read_csv("Income/income_2013.csv")
income_2014_df = pd.read_csv("Income/income_2014.csv")
income_2015_df = pd.read_csv("Income/income_2015.csv")
income_2016_df = pd.read_csv("Income/income_2016.csv")


zip = income_2012_df['Id2']

house_hold_12 = income_2012_df['Households; Estimate; Total']
house_hold_margin_12 = income_2012_df['Households; Margin of Error; Total']
house_hold_income_12 = income_2012_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_12 = income_2012_df['Households; Margin of Error; Median income (dollars)']


house_hold_13 = income_2013_df['Households; Estimate; Total']
house_hold_margin_13 = income_2013_df['Households; Margin of Error; Total']
house_hold_income_13 = income_2013_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_13 = income_2013_df['Households; Margin of Error; Median income (dollars)']

house_hold_14 = income_2014_df['Households; Estimate; Total']
house_hold_margin_14 = income_2014_df['Households; Margin of Error; Total']
house_hold_income_14 = income_2014_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_14 = income_2014_df['Households; Margin of Error; Median income (dollars)']

house_hold_15 = income_2015_df['Households; Estimate; Total']
house_hold_margin_15 = income_2015_df['Households; Margin of Error; Total']
house_hold_income_15 = income_2015_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_15 = income_2015_df['Households; Margin of Error; Median income (dollars)']

house_hold_16 = income_2016_df['Households; Estimate; Total']
house_hold_margin_16 = income_2016_df['Households; Margin of Error; Total']
house_hold_income_16 = income_2016_df['Households; Estimate; Median income (dollars)']
house_hold_income_margin_16 = income_2016_df['Households; Margin of Error; Median income (dollars)']


income_clean_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Households 2012": house_hold_12,
    "Total Households 2012 Margin of Error": house_hold_margin_12,
    "Total Households Income 2012": house_hold_income_12,
    "Total Households Income 2012 Margin of Error": house_hold_income_margin_12,
    
    "Total Households 2013": house_hold_13,
    "Total Households 2013 Margin of Error": house_hold_margin_13,
    "Total Households Income 2013": house_hold_income_13,
    "Total Households Income 2013 Margin of Error": house_hold_income_margin_13,
    
    "Total Households 2014": house_hold_14,
    "Total Households 2014 Margin of Error": house_hold_margin_14,
    "Total Households Income 2014": house_hold_income_14,
    "Total Households Income 2014 Margin of Error": house_hold_income_margin_14,
    
    "Total Households 2015": house_hold_15,
    "Total Households 2015 Margin of Error": house_hold_margin_15,
    "Total Households Income 2015": house_hold_income_15,
    "Total Households Income 2015 Margin of Error": house_hold_income_margin_15,
    
    "Total Households 2016": house_hold_16,
    "Total Households 2016 Margin of Error": house_hold_margin_16,
    "Total Households Income 2016": house_hold_income_16,
    "Total Households Income 2016 Margin of Error": house_hold_income_margin_16,
    
})

In [5]:
#merge on zip for cities and export csv

income_clean_df = pd.merge(zip_to_city_df, income_clean_df, on='Zipcode', how='left')

income_clean_df.to_csv("Income/semi_cleaned_income.csv", index=False)

In [6]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2012.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 44 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 44 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 44 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 44 years']

#thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
#thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
#thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
#thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

#thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
#thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
#thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
#thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 64 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 64 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 64 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 64 years']

#sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
#sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
#sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
#sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']


employment_2012_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2012": population,
    "Total Population 2012 Margin of Error": population_margin,
    "Total Unemployment 2012": population_unemployment,
    "Total Unemployment 2012 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2012": sixteen,
    "Age Group 16-19 2012 Margin of Error": sixteen_margin,
    "Age Group 16-19 2012 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2012 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2012": twenty,
    "Age Group 20-24 2012 Margin of Error": twenty_margin,
    "Age Group 20-24 2012 Unemployment": twenty_unemployment,
    "Age Group 20-24 2012 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-44 2012": twenty_five,
    "Age Group 25-44 2012 Margin of Error": twenty_five_margin,
    "Age Group 25-44 2012 Unemployment": twenty_five_unemployment,
    "Age Group 25-44 2012 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 45-54 2012": forty_five,
    "Age Group 45-54 2012 Margin of Error": forty_five_margin,
    "Age Group 45-54 2012 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2012 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2012": fifty_five,
    "Age Group 55-64 2012 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2012 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2012 Unemployment Margin of Error": fifty_five_unemployment_margin,
    
    "Age Group 65-74 2012": sixty_five,
    "Age Group 65-74 2012 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2012 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2012 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2012": seventy_five,
    "Age Group 75+ 2012 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2012 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2012 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

In [7]:
#merge on zip for cities

income_clean_df = pd.merge(zip_to_city_df, employment_2012_df, on='Zipcode', how='left')

income_clean_df.to_csv("Employment/semi_cleaned_employment_2012.csv", index=False)

income_clean_df.head()

,City,County,Zipcode,Total Population 2012,Total Population 2012 Margin of Error,Total Unemployment 2012,Total Unemployment 2012 margin of Error,Age Group 16-19 2012,Age Group 16-19 2012 Margin of Error,Age Group 16-19 2012 Unemployment,...,Age Group 55-64 2012 Unemployment,Age Group 55-64 2012 Unemployment Margin of Error,Age Group 65-74 2012,Age Group 65-74 2012 Margin of Error,Age Group 65-74 2012 Unemployment,Age Group 65-74 2012 Unemployment Margin of Error,Age Group 75+ 2012,Age Group 75+ 2012 Margin of Error,Age Group 75+ 2012 Unemployment,Age Group 75+ 2012 Unemployment Margin of Error
0,Arvada,Jefferson,80001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arvada,Jefferson,80002,15071.0,757.0,7,1.8,703.0,239.0,23.5,...,10.1,3.7,1313.0,227.0,0,11.8,757.0,167.0,0,25.2
2,Arvada,Jefferson,80003,27595.0,719.0,9.8,1.7,1699.0,319.0,28.1,...,11.9,4.1,2233.0,290.0,6.6,8.1,1670.0,229.0,5.9,27
3,Arvada,Jefferson,80004,28369.0,707.0,8,1.3,1595.0,227.0,22.2,...,6.7,2.7,2737.0,200.0,8.3,6.1,3242.0,266.0,0,17.9
4,Arvada,Jefferson,80005,21325.0,574.0,6.3,1.1,1635.0,262.0,29.1,...,3.7,2,2162.0,222.0,4.1,3.9,1241.0,228.0,11.5,20

In [8]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2013.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 44 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 44 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 44 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 44 years']

#thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
#thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
#thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
#thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

#thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
#thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
#thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
#thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 64 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 64 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 64 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 64 years']

#sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
#sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
#sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
#sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']




employment_2013_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2013": population,
    "Total Population 2013 Margin of Error": population_margin,
    "Total Unemployment 2013": population_unemployment,
    "Total Unemployment 2013 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2013": sixteen,
    "Age Group 16-19 2013 Margin of Error": sixteen_margin,
    "Age Group 16-19 2013 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2013 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2013": twenty,
    "Age Group 20-24 2013 Margin of Error": twenty_margin,
    "Age Group 20-24 2013 Unemployment": twenty_unemployment,
    "Age Group 20-24 2013 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-44 2013": twenty_five,
    "Age Group 25-44 2013 Margin of Error": twenty_five_margin,
    "Age Group 25-44 2013 Unemployment": twenty_five_unemployment,
    "Age Group 25-44 2013 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 45-54 2013": forty_five,
    "Age Group 45-54 2013 Margin of Error": forty_five_margin,
    "Age Group 45-54 2013 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2013 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2013": fifty_five,
    "Age Group 55-64 2013 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2013 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2013 Unemployment Margin of Error": fifty_five_unemployment_margin,
    
    "Age Group 65-74 2013": sixty_five,
    "Age Group 65-74 2013 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2013 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2013 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2013": seventy_five,
    "Age Group 75+ 2013 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2013 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2013 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

In [9]:
income_clean_df = pd.merge(zip_to_city_df, employment_2013_df, on='Zipcode', how='left')

income_clean_df.to_csv("Employment/semi_cleaned_employment_2013.csv", index=False)

income_clean_df.head()

,City,County,Zipcode,Total Population 2013,Total Population 2013 Margin of Error,Total Unemployment 2013,Total Unemployment 2013 margin of Error,Age Group 16-19 2013,Age Group 16-19 2013 Margin of Error,Age Group 16-19 2013 Unemployment,...,Age Group 55-64 2013 Unemployment,Age Group 55-64 2013 Unemployment Margin of Error,Age Group 65-74 2013,Age Group 65-74 2013 Margin of Error,Age Group 65-74 2013 Unemployment,Age Group 65-74 2013 Unemployment Margin of Error,Age Group 75+ 2013,Age Group 75+ 2013 Margin of Error,Age Group 75+ 2013 Unemployment,Age Group 75+ 2013 Unemployment Margin of Error
0,Arvada,Jefferson,80001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arvada,Jefferson,80002,15268.0,809.0,6.9,2.1,693.0,191.0,30.4,...,6,3.2,1352.0,255.0,5,7.7,787.0,136.0,0,24.3
2,Arvada,Jefferson,80003,27523.0,862.0,10.3,1.4,1764.0,294.0,29.1,...,10.9,3.8,2518.0,305.0,2.4,3.5,1754.0,233.0,4.7,12.4
3,Arvada,Jefferson,80004,28845.0,671.0,7.7,1.3,1728.0,256.0,23.2,...,6.8,2.8,2849.0,240.0,9,5.2,3143.0,313.0,0,19.5
4,Arvada,Jefferson,80005,21425.0,614.0,5.7,1.2,1530.0,182.0,17.6,...,4.3,1.9,2256.0,212.0,4.7,4.3,1340.0,179.0,9.6,13.7

In [10]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2014.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 44 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 44 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 44 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 44 years']

#thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
#thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
#thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
#thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

#thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
#thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
#thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
#thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 64 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 64 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 64 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 64 years']

#sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
#sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
#sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
#sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']




employment_2014_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2014": population,
    "Total Population 2014 Margin of Error": population_margin,
    "Total Unemployment 2014": population_unemployment,
    "Total Unemployment 2014 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2014": sixteen,
    "Age Group 16-19 2014 Margin of Error": sixteen_margin,
    "Age Group 16-19 2014 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2014 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2014": twenty,
    "Age Group 20-24 2014 Margin of Error": twenty_margin,
    "Age Group 20-24 2014 Unemployment": twenty_unemployment,
    "Age Group 20-24 2014 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-44 2014": twenty_five,
    "Age Group 25-44 2014 Margin of Error": twenty_five_margin,
    "Age Group 25-44 2014 Unemployment": twenty_five_unemployment,
    "Age Group 25-44 2014 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 45-54 2014": forty_five,
    "Age Group 45-54 2014 Margin of Error": forty_five_margin,
    "Age Group 45-54 2014 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2014 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2014": fifty_five,
    "Age Group 55-64 2014 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2014 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2014 Unemployment Margin of Error": fifty_five_unemployment_margin,
    
    "Age Group 65-74 2014": sixty_five,
    "Age Group 65-74 2014 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2014 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2014 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2014": seventy_five,
    "Age Group 75+ 2014 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2014 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2014 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

In [11]:
income_clean_df = pd.merge(zip_to_city_df, employment_2014_df, on='Zipcode', how='left')

income_clean_df.to_csv("Employment/semi_cleaned_employment_2014.csv", index=False)

income_clean_df.head()

,City,County,Zipcode,Total Population 2014,Total Population 2014 Margin of Error,Total Unemployment 2014,Total Unemployment 2014 margin of Error,Age Group 16-19 2014,Age Group 16-19 2014 Margin of Error,Age Group 16-19 2014 Unemployment,...,Age Group 55-64 2014 Unemployment,Age Group 55-64 2014 Unemployment Margin of Error,Age Group 65-74 2014,Age Group 65-74 2014 Margin of Error,Age Group 65-74 2014 Unemployment,Age Group 65-74 2014 Unemployment Margin of Error,Age Group 75+ 2014,Age Group 75+ 2014 Margin of Error,Age Group 75+ 2014 Unemployment,Age Group 75+ 2014 Unemployment Margin of Error
0,Arvada,Jefferson,80001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arvada,Jefferson,80002,14842.0,617.0,5.7,1.2,818.0,295.0,21.5,...,5.9,3.1,1376.0,195.0,5.9,9.5,798.0,157.0,0,24.4
2,Arvada,Jefferson,80003,28363.0,688.0,9.7,1.5,1968.0,344.0,28.1,...,9.8,3.3,2696.0,311.0,3.6,3.5,1746.0,202.0,4.7,12.3
3,Arvada,Jefferson,80004,29705.0,763.0,7,1,1699.0,254.0,22.5,...,6.8,2.6,2836.0,257.0,7.3,3.5,3397.0,303.0,0,20.9
4,Arvada,Jefferson,80005,21879.0,607.0,4.8,1,1474.0,243.0,15.6,...,3.6,1.4,2438.0,159.0,3.1,3.2,1437.0,179.0,8.6,13.4

In [12]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2015.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 29 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 29 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 29 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 29 years']

thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 59 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 59 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 59 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 59 years']

sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']




employment_2015_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2015": population,
    "Total Population 2015 Margin of Error": population_margin,
    "Total Unemployment 2015": population_unemployment,
    "Total Unemployment 2015 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2015": sixteen,
    "Age Group 16-19 2015 Margin of Error": sixteen_margin,
    "Age Group 16-19 2015 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2015 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2015": twenty,
    "Age Group 20-24 2015 Margin of Error": twenty_margin,
    "Age Group 20-24 2015 Unemployment": twenty_unemployment,
    "Age Group 20-24 2015 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-29 2015": twenty_five,
    "Age Group 25-29 2015 Margin of Error": twenty_five_margin,
    "Age Group 25-29 2015 Unemployment": twenty_five_unemployment,
    "Age Group 25-29 2015 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 30-34 2015": thirty,
    "Age Group 30-34 2015 Margin of Error": thirty_margin,
    "Age Group 30-34 2015 Unemployment": thirty_unemployment,
    "Age Group 30-34 2015 Unemployment Margin of Error": thirty_unemployment_margin,

    "Age Group 35-44 2015": thirty_five,
    "Age Group 35-44 2015 Margin of Error": thirty_five_margin,
    "Age Group 35-44 2015 Unemployment": thirty_five_unemployment,
    "Age Group 35-44 2015 Unemployment Margin of Error": thirty_five_unemployment_margin,

    "Age Group 45-54 2015": forty_five,
    "Age Group 45-54 2015 Margin of Error": forty_five_margin,
    "Age Group 45-54 2015 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2015 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2015": fifty_five,
    "Age Group 55-64 2015 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2015 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2015 Unemployment Margin of Error": fifty_five_unemployment_margin,

    "Age Group 60-64 2015": sixty,
    "Age Group 60-64 2015 Margin of Error": sixty_margin,
    "Age Group 60-64 2015 Unemployment": sixty_unemployment,
    "Age Group 60-64 2015 Unemployment Margin of Error": sixty_unemployment_margin,
    
    "Age Group 65-74 2015": sixty_five,
    "Age Group 65-74 2015 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2015 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2015 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2015": seventy_five,
    "Age Group 75+ 2015 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2015 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2015 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

In [13]:
income_clean_df = pd.merge(zip_to_city_df, employment_2015_df, on='Zipcode', how='left')

income_clean_df.to_csv("Employment/semi_cleaned_employment_2015.csv", index=False)

income_clean_df.head()

,City,County,Zipcode,Total Population 2015,Total Population 2015 Margin of Error,Total Unemployment 2015,Total Unemployment 2015 margin of Error,Age Group 16-19 2015,Age Group 16-19 2015 Margin of Error,Age Group 16-19 2015 Unemployment,...,Age Group 60-64 2015 Unemployment,Age Group 60-64 2015 Unemployment Margin of Error,Age Group 65-74 2015,Age Group 65-74 2015 Margin of Error,Age Group 65-74 2015 Unemployment,Age Group 65-74 2015 Unemployment Margin of Error,Age Group 75+ 2015,Age Group 75+ 2015 Margin of Error,Age Group 75+ 2015 Unemployment,Age Group 75+ 2015 Unemployment Margin of Error
0,Arvada,Jefferson,80001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arvada,Jefferson,80002,15256.0,630.0,4.7,1.2,865.0,236.0,14.4,...,5.9,5.6,1411.0,217.0,6.1,9.3,865.0,146.0,0,16.2
2,Arvada,Jefferson,80003,29155.0,703.0,8.6,1.4,1953.0,316.0,24.5,...,11,6.2,2836.0,279.0,3.7,3.9,1886.0,246.0,18.3,22.7
3,Arvada,Jefferson,80004,30088.0,682.0,6.1,1,1727.0,247.0,19.3,...,3.8,2.4,2976.0,260.0,6.3,5,3444.0,253.0,0,17
4,Arvada,Jefferson,80005,22169.0,625.0,4,1,1348.0,231.0,15.2,...,3.3,2.1,2643.0,255.0,1.2,1.8,1631.0,180.0,5.7,9.8

In [14]:
#read excel files
employment_df = pd.read_csv("Employment/employment_2016.csv")

zip = employment_df['Id2']

population = employment_df['Total; Estimate; Population 16 years and over']
population_margin = employment_df['Total; Margin of Error; Population 16 years and over']
population_unemployment = employment_df['Unemployment rate; Estimate; Population 16 years and over']
population_unemployment_margin = employment_df['Unemployment rate; Margin of Error; Population 16 years and over']

sixteen = employment_df['Total; Estimate; AGE - 16 to 19 years']
sixteen_margin = employment_df['Total; Margin of Error; AGE - 16 to 19 years']
sixteen_unemployment = employment_df['Unemployment rate; Estimate; AGE - 16 to 19 years']
sixteen_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 16 to 19 years']

twenty = employment_df['Total; Estimate; AGE - 20 to 24 years']
twenty_margin = employment_df['Total; Margin of Error; AGE - 20 to 24 years']
twenty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 20 to 24 years']
twenty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 20 to 24 years']

twenty_five = employment_df['Total; Estimate; AGE - 25 to 29 years']
twenty_five_margin = employment_df['Total; Margin of Error; AGE - 25 to 29 years']
twenty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 25 to 29 years']
twenty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 25 to 29 years']

thirty = employment_df['Total; Estimate; AGE - 30 to 34 years']
thirty_margin = employment_df['Total; Margin of Error; AGE - 30 to 34 years']
thirty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 30 to 34 years']
thirty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 30 to 34 years']

thirty_five = employment_df['Total; Estimate; AGE - 35 to 44 years']
thirty_five_margin = employment_df['Total; Margin of Error; AGE - 35 to 44 years']
thirty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 35 to 44 years']
thirty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 35 to 44 years']

forty_five = employment_df['Total; Estimate; AGE - 45 to 54 years']
forty_five_margin = employment_df['Total; Margin of Error; AGE - 45 to 54 years']
forty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 45 to 54 years']
forty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 45 to 54 years']

fifty_five = employment_df['Total; Estimate; AGE - 55 to 59 years']
fifty_five_margin = employment_df['Total; Margin of Error; AGE - 55 to 59 years']
fifty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 55 to 59 years']
fifty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 55 to 59 years']

sixty = employment_df['Total; Estimate; AGE - 60 to 64 years']
sixty_margin = employment_df['Total; Margin of Error; AGE - 60 to 64 years']
sixty_unemployment = employment_df['Unemployment rate; Estimate; AGE - 60 to 64 years']
sixty_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 60 to 64 years']

sixty_five = employment_df['Total; Estimate; AGE - 65 to 74 years']
sixty_five_margin = employment_df['Total; Margin of Error; AGE - 65 to 74 years']
sixty_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 65 to 74 years']
sixty_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 65 to 74 years']

seventy_five = employment_df['Total; Estimate; AGE - 75 years and over']
seventy_five_margin = employment_df['Total; Margin of Error; AGE - 75 years and over']
seventy_five_unemployment = employment_df['Unemployment rate; Estimate; AGE - 75 years and over']
seventy_five_unemployment_margin = employment_df['Unemployment rate; Margin of Error; AGE - 75 years and over']




employment_2016_df = pd.DataFrame({
    
    "Zipcode": zip,
    
    "Total Population 2016": population,
    "Total Population 2016 Margin of Error": population_margin,
    "Total Unemployment 2016": population_unemployment,
    "Total Unemployment 2016 margin of Error": population_unemployment_margin,
    
    "Age Group 16-19 2016": sixteen,
    "Age Group 16-19 2016 Margin of Error": sixteen_margin,
    "Age Group 16-19 2016 Unemployment": sixteen_unemployment,
    "Age Group 16-19 2016 Unemployment Margin of Error": sixteen_unemployment_margin,
    
    "Age Group 20-24 2016": twenty,
    "Age Group 20-24 2016 Margin of Error": twenty_margin,
    "Age Group 20-24 2016 Unemployment": twenty_unemployment,
    "Age Group 20-24 2016 Unemployment Margin of Error": twenty_unemployment_margin,
    
    "Age Group 25-29 2016": twenty_five,
    "Age Group 25-29 2016 Margin of Error": twenty_five_margin,
    "Age Group 25-29 2016 Unemployment": twenty_five_unemployment,
    "Age Group 25-29 2016 Unemployment Margin of Error": twenty_five_unemployment_margin,
    
    "Age Group 30-34 2016": thirty,
    "Age Group 30-34 2016 Margin of Error": thirty_margin,
    "Age Group 30-34 2016 Unemployment": thirty_unemployment,
    "Age Group 30-34 2016 Unemployment Margin of Error": thirty_unemployment_margin,

    "Age Group 35-44 2016": thirty_five,
    "Age Group 35-44 2016 Margin of Error": thirty_five_margin,
    "Age Group 35-44 2016 Unemployment": thirty_five_unemployment,
    "Age Group 35-44 2016 Unemployment Margin of Error": thirty_five_unemployment_margin,

    "Age Group 45-54 2016": forty_five,
    "Age Group 45-54 2016 Margin of Error": forty_five_margin,
    "Age Group 45-54 2016 Unemployment": forty_five_unemployment,
    "Age Group 45-54 2016 Unemployment Margin of Error": forty_five_unemployment_margin,        
    
    "Age Group 55-64 2016": fifty_five,
    "Age Group 55-64 2016 Margin of Error": fifty_five_margin,
    "Age Group 55-64 2016 Unemployment": fifty_five_unemployment,
    "Age Group 55-64 2016 Unemployment Margin of Error": fifty_five_unemployment_margin,

    "Age Group 60-64 2016": sixty,
    "Age Group 60-64 2016 Margin of Error": sixty_margin,
    "Age Group 60-64 2016 Unemployment": sixty_unemployment,
    "Age Group 60-64 2016 Unemployment Margin of Error": sixty_unemployment_margin,
    
    "Age Group 65-74 2016": sixty_five,
    "Age Group 65-74 2016 Margin of Error": sixty_five_margin,
    "Age Group 65-74 2016 Unemployment": sixty_five_unemployment,
    "Age Group 65-74 2016 Unemployment Margin of Error": sixty_five_unemployment_margin,
    
    "Age Group 75+ 2016": seventy_five,
    "Age Group 75+ 2016 Margin of Error": seventy_five_margin,
    "Age Group 75+ 2016 Unemployment": seventy_five_unemployment,
    "Age Group 75+ 2016 Unemployment Margin of Error": seventy_five_unemployment_margin,

})

In [15]:
income_clean_df = pd.merge(zip_to_city_df, employment_2016_df, on='Zipcode', how='left')

income_clean_df.to_csv("Employment/semi_cleaned_employment_2016.csv", index=False)

income_clean_df.head()

,City,County,Zipcode,Total Population 2016,Total Population 2016 Margin of Error,Total Unemployment 2016,Total Unemployment 2016 margin of Error,Age Group 16-19 2016,Age Group 16-19 2016 Margin of Error,Age Group 16-19 2016 Unemployment,...,Age Group 60-64 2016 Unemployment,Age Group 60-64 2016 Unemployment Margin of Error,Age Group 65-74 2016,Age Group 65-74 2016 Margin of Error,Age Group 65-74 2016 Unemployment,Age Group 65-74 2016 Unemployment Margin of Error,Age Group 75+ 2016,Age Group 75+ 2016 Margin of Error,Age Group 75+ 2016 Unemployment,Age Group 75+ 2016 Unemployment Margin of Error
0,Arvada,Jefferson,80001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arvada,Jefferson,80002,15335.0,580.0,3.9,1.1,897.0,235.0,12.2,...,5.9,5.4,1425.0,193.0,8.2,9.3,844.0,153.0,0,28.9
2,Arvada,Jefferson,80003,29042.0,816.0,7.7,1.2,2007.0,353.0,25.6,...,8.6,5.2,2863.0,338.0,4.5,3.9,1937.0,230.0,27.8,28.1
3,Arvada,Jefferson,80004,30497.0,749.0,5.4,1.1,1846.0,323.0,21.2,...,1.8,1.6,3115.0,248.0,7.8,5,3497.0,288.0,0,16.8
4,Arvada,Jefferson,80005,22890.0,612.0,4.1,1.3,1444.0,236.0,20.2,...,3.4,2,2928.0,261.0,2,2.3,1642.0,198.0,0,20.4

In [16]:
cities = dispensary_df['City']

lat = []
lng = []
for city in cities:
    target_city = f'{city}, Colorado'
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?address={0}&key={1}').format(target_city, google_key)
    geo_data = requests.get(target_url).json()
    lat.append(geo_data["results"][0]["geometry"]["location"]["lat"])
    lng.append(geo_data["results"][0]["geometry"]["location"]["lng"])
    print(f'Retrieving data for {city}')
    print('---------------------------')

Retrieving data for Wheat Ridge
---------------------------
Retrieving data for Moffat
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Sheridan
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Salida
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Antonito
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Black Hawk
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Moffat
---------------------------
Retrieving data for Antonito
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Ridgway
---------------------------
Retrieving data for Silverton
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Northglenn
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Breckenridge
---------------------------
Retrieving data for Dillon
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Telluride
---------------------------
Retrieving data for Black Hawk
---------------------------
Retrieving data for Central City
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Nederland
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Georgetown
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aspen
---------------------------
Retrieving data for Aspen
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Wheat Ridge
---------------------------
Retrieving data for San Luis
---------------------------
Retrieving data for Breckenridge
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Federal Heights
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Mancos
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Northglenn
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Breckenridge
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Walsenburg
---------------------------
Retrieving data for Edgewater
---------------------------
Retrieving data for De Beque
---------------------------
Retrieving data for Parachute
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Commerce City
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Garden City
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Thornton
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Bailey
---------------------------
Retrieving data for Central City
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Commerce City
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Cortez
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Carbondale
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Palisade
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Carbondale
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Louisville
---------------------------
Retrieving data for Lafayette
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Crestone
---------------------------
Retrieving data for Aspen
---------------------------
Retrieving data for Crested Butte
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Steamboat Springs
---------------------------
Retrieving data for Sedgwick
---------------------------
Retrieving data for Cortez
---------------------------
Retrieving data for Pagosa Springs
---------------------------
Retrieving data for Telluride
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Dinosaur
---------------------------
Retrieving data for Dinosaur
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Dumont
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Durango
---------------------------

Retrieving data for Denver
---------------------------
Retrieving data for Breckenridge
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Mountain View
---------------------------
Retrieving data for Telluride
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Cortez
---------------------------
Retrieving data for Crested Butte
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Salida
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for De Beque
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Federal Heights
---------------------------
Retrieving data for Ridgway
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Commerce City
---------------------------
Retrieving data for Gunnison
---------------------------
Retrieving data for Thornton
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Steamboat Springs
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Fort Garland
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Central City
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Grant
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Parachute
---------------------------
Retrieving data for Parachute
---------------------------
Retrieving data for Glenwood Springs
---------------------------
Retrieving data for Aspen
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Central City
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Cortez
---------------------------
Retrieving data for Mancos
---------------------------
Retrieving data for Northglenn
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Glenwood Springs
---------------------------
Retrieving data for Glenwood Springs
---------------------------
Retrieving data for Federal Heights
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Antonito
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Edgewater
---------------------------
Retrieving data for Glenwood Springs
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Gunnison
---------------------------
Retrieving data for Berthoud
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Alma
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Lafayette
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Lyons
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Tabernash
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Palisade
---------------------------
Retrieving data for Silt
---------------------------
Retrieving data for Carbondale
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Idaho Springs
---------------------------
Retrieving data for Glendale
---------------------------
Retrieving data for Idaho Springs
---------------------------
Retrieving data for Tabernash
---------------------------
Retrieving data for Nederland
---------------------------
Retrieving data for Central City
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Pagosa Springs
---------------------------
Retrieving data for Pagosa Springs
---------------------------
Retrieving data for Avon
---------------------------
Retrieving data for Leadville
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Pagosa Springs
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Silverton
---------------------------
Retrieving data for Federal Heights
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Glendale
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for De Beque
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for San Luis
---------------------------
Retrieving data for Log Lane Village
---------------------------
Retrieving data for Log Lane Village
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Garden City
---------------------------

Retrieving data for Denver
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Lyons
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Manitou Springs
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Glenwood Springs
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Rocky Ford
---------------------------
Retrieving data for Wheat Ridge
---------------------------
Retrieving data for Mountain View
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Sheridan
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Gunnison
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Dillon
---------------------------
Retrieving data for Walsenburg
---------------------------
Retrieving data for Alma
---------------------------
Retrieving data for Idaho Springs
---------------------------
Retrieving data for Commerce City
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Berthoud
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Garden City
---------------------------
Retrieving data for Log Lane Village
---------------------------
Retrieving data for Milliken
---------------------------
Retrieving data for Englewood
---------------------------
Retrieving data for Basalt
---------------------------
Retrieving data for Edwards
---------------------------
Retrieving data for Telluride
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Lafayette
---------------------------
Retrieving data for Edgewater
---------------------------
Retrieving data for Dinosaur
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Nederland
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Wheat Ridge
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Ordway
---------------------------
Retrieving data for Glenwood Springs
---------------------------
Retrieving data for Aspen
---------------------------
Retrieving data for Parachute
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Leadville
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Northglenn
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Colorado City
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Edgewater
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Crested Butte
---------------------------
Retrieving data for Gunnison
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Glendale
---------------------------
Retrieving data for Manitou Springs
---------------------------
Retrieving data for Aspen
---------------------------
Retrieving data for Basalt
---------------------------
Retrieving data for Edwards
---------------------------
Retrieving data for Avon
---------------------------
Retrieving data for Gunnison
---------------------------
Retrieving data for Leadville
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Silt
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aspen
---------------------------
Retrieving data for Dillon
---------------------------
Retrieving data for Edgewater
---------------------------
Retrieving data for Frisco
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Steamboat Springs
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Lyons
---------------------------
Retrieving data for Rocky Ford
---------------------------
Retrieving data for Ridgway
---------------------------
Retrieving data for Parachute
---------------------------
Retrieving data for Avon
---------------------------
Retrieving data for Thornton
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Silverton
---------------------------
Retrieving data for Pagosa Springs
---------------------------
Retrieving data for Villa Grove
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Fraser
---------------------------
Retrieving data for Empire
---------------------------
Retrieving data for Empire
---------------------------
Retrieving data for Winter Park
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Fraser
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Glendale
---------------------------
Retrieving data for Dumont
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Wheat Ridge
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Fort Garland
---------------------------

Retrieving data for Trinidad
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Cortez
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Commerce City
---------------------------
Retrieving data for Louisville
---------------------------
Retrieving data for Niwot
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Crested Butte
---------------------------
Retrieving data for Bailey
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Eagle
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Commerce City
---------------------------
Retrieving data for Englewood
---------------------------
Retrieving data for Telluride
---------------------------
Retrieving data for Salida
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Palisade
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Durango
---------------------------
Retrieving data for Parachute
---------------------------
Retrieving data for Gunnison
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Northglenn
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Edgewater
---------------------------
Retrieving data for Silver Plume
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Glendale
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Glenwood Springs
---------------------------
Retrieving data for Sheridan
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Cortez
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Sheridan
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Pueblo West
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Parachute
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Aurora
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Dumont
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Boulder
---------------------------
Retrieving data for Trinidad
---------------------------
Retrieving data for Carbondale
---------------------------
Retrieving data for De Beque
---------------------------
Retrieving data for Frisco
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Silverthorne
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Avon
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Fort Collins
---------------------------
Retrieving data for Oak Creek
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Walsenburg
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Northglenn
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Pueblo
---------------------------
Retrieving data for Longmont
---------------------------
Retrieving data for Gunnison
---------------------------
Retrieving data for Mancos
---------------------------
Retrieving data for Fairplay
---------------------------
Retrieving data for Garden City
---------------------------
Retrieving data for Glendale
---------------------------
Retrieving data for Denver
---------------------------
Retrieving data for Longmont
---------------------------

In [34]:
lat = list(map(float, lat))
lng = list(map(float, lng))

In [24]:
# make lat and lng into df

coords_df = pd.DataFrame({
    
    "City": cities,
    "LAT": lat,
    "LNG": lng,
    
})

coordinates = coords_df[["LAT", "LNG"]]

In [30]:
# Customize the size of the figure
figure_layout = {
    'width': '900px',
    'height': '900px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

In [32]:

markers = gmaps.marker_layer(coordinates)
fig.add_layer(markers)
coords_df.head()

          City        LAT         LNG
0  Wheat Ridge  39.766098 -105.077206
1       Moffat  37.998888 -105.910016
2       Denver  39.739236 -104.990251
3     Sheridan  39.646932 -105.025261
4       Denver  39.739236 -104.990251

AttributeError: 'DataFrame' object has no attribute 'lng'